@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style : normal;
  src        : url('~@/assets/fonts/Roboto-Regular.woff2') format('woff2'), url('~@/assets/fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style : normal;
  src        : url('~@/assets/fonts/Roboto-Light.woff2') format('woff2'), url('~@/assets/fonts/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style : normal;
  src        : url('~@/assets/fonts/Roboto-Medium.woff2') format('woff2'), url('~@/assets/fonts/Roboto-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style : normal;
  src        : url('~@/assets/fonts/Roboto-Bold.woff2') format('woff2'), url('~@/assets/fonts/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Amatic SC';
  font-weight: 400;
  font-style : normal;
  src        : url('~@/assets/fonts/AmaticSC-Regular.woff2') format('woff2'), url('~@/assets/fonts/AmaticSC-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Amatic SC';
  font-weight: 700;
  font-style : normal;
  src        : url('~@/assets/fonts/AmaticSC-Bold.woff2') format('woff2'), url('~@/assets/fonts/AmaticSC-Bold.woff') format('woff');
}

@font-face {
  font-family: 'El Messiri';
  font-weight: 400;
  font-style : normal;
  src        : url('~@/assets/fonts/ElMessiri-Regular.woff2') format('woff2'), url('~@/assets/fonts/ElMessiri-Regular.woff') format('woff');
}